CREATE OR REPLACE FUNCTION public.admin_generate_license()
RETURNS public.licenses
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $$
DECLARE
  new_code text;
  rec public.licenses;
  random_uuid text;
BEGIN
  -- Pastikan hanya admin dapat mengeksekusi
  IF NOT public.is_current_user_admin() THEN
    RAISE EXCEPTION 'Only admins can generate licenses';
  END IF;

  -- Coba generate unik (loop jika bentrok)
  LOOP
    -- Generate 6 karakter dari UUID (lebih kompatibel)
    random_uuid := replace(gen_random_uuid()::text, '-', '');
    new_code := upper(substr(random_uuid, 1, 6));

    BEGIN
      INSERT INTO public.licenses(code, status)
      VALUES (new_code, 'valid')
      RETURNING * INTO rec;
      RETURN rec;
    EXCEPTION
      WHEN unique_violation THEN
        -- Ulangi jika bentrok
        CONTINUE;
    END;
  END LOOP;
END;
$$;
